@import "./main-slider";
@import "./info-widget";
@import "./avatar";
@import "./section-head";
@import "./dz-subscribe";
@import "./accordion";
@import "./link-hover";
@import "./testimonials";
@import "./twentytwenty";
@import "./marquee";
@import "./pricetable";
@import "./client-logo";
@import "./tempus-dominus";
@import "./iconbox";
@import "./team";
@import "./blog-post";
@import "./shop";
@import "./alert";
@import "./card";
@import "./form";
@import "./button";
@import "./badge";
@import "./table";
@import "./separator";
@import "./filter";
@import "./overlay";
@import "./owl-button";
@import "./image-effects";
@import "./pagination";
@import "./content-bx";
@import "./list-group";
@import "./lightgallery";
@import "./progress-bar";
@import "./scroltop";
@import "./video-bx";
@import "./swiper";
@import "./widget";
@import "./modal";
@import "./move";
@import "./tabs";
@import "./social";
@import "./animation";
@import "./divider";
@import "./nouislider";
@import "./dropmenu";
@import "./author";
@import "./timeline";
@import "./wizard";