// ICON BOXES
.icon-bx-xl {
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	width: 150px;
	height: 150px;
	line-height: 150px;

	&.radius {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}

	i {
		font-size: 80px;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 80px;
	}
}

.icon-bx-lg {
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	width: 120px;
	height: 120px;
	line-height: 120px;

	&.radius {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}

	i {
		font-size: 50px;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 55px;
	}
}

.icon-bx-md {
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	width: 100px;
	height: 100px;
	line-height: 100px;

	&.radius {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}

	i {
		font-size: 35px;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 40px;
	}
}

.icon-bx-sm {
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	width: 60px;
	height: 60px;
	min-width: 60px;
	line-height: 60px;

	&.radius {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}

	i {
		font-size: 26px;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 26px;
	}
}

.icon-bx-xs {
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	width: 60px;
	height: 60px;
	line-height: 60px;

	&.radius {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}

	i {
		font-size: 30px;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 20px;
	}
}

// ICON SIZE
.icon-xl {
	display: inline-block;
	text-align: center;
	width: 100px;

	i {
		vertical-align: middle;
		font-size: 80px;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 80px;
	}
}

.icon-lg {
	display: inline-block;
	text-align: center;
	line-height: 1;

	i {
		vertical-align: middle;
		font-size: 60px;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		min-width: 65px;
		width: 65px;
	}
}

.icon-md {
	display: inline-block;
	text-align: center;

	i {
		vertical-align: middle;
		font-size: 45px;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		min-width: 45px;
		width: 45px;
	}
}

.icon-sm {
	display: inline-block;
	text-align: center;
	width: 40px;

	i {
		vertical-align: middle;
		font-size: 30px;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		min-width: 30px;
		width: 30px;
	}
}

.icon-xs {
	display: inline-block;
	text-align: center;
	width: 30px;

	i {
		vertical-align: middle;
		font-size: 20px;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		width: auto;
		height: 20px;
	}
}

// PLACE ICON WITH BOX
.icon-bx-wraper {
	position: relative;

	.dz-title {
		margin-top: 0;
	}

	.after-titile-line {
		margin-bottom: 10px;
	}

	p:last-child {
		margin: 0;
	}

	&.center {
		text-align: center;
	}

	&.left {

		.icon-bx-xl,
		.icon-bx-lg,
		.icon-bx-md,
		.icon-bx-sm,
		.icon-bx-xs {
			float: $dz-pos-left;
			margin-#{$dz-pos-right}: 20px;
		}

		.icon-xl,
		.icon-lg,
		.icon-md,
		.icon-sm,
		.icon-xs {
			float: $dz-pos-left;
			margin-#{$dz-pos-right}: 10px;
		}
	}

	&.right {
		text-align: $dz-pos-right;

		.icon-bx-xl,
		.icon-bx-lg,
		.icon-bx-md,
		.icon-bx-sm,
		.icon-bx-xs {
			float: $dz-pos-right;
			margin-#{$dz-pos-left}: 20px;
		}

		.icon-xl,
		.icon-lg,
		.icon-md,
		.icon-sm,
		.icon-xs {
			float: $dz-pos-right;
			margin-#{$dz-pos-left}: 10px;
		}
	}

	&.bx-style-1,
	&.bx-style-2 {
		border-width: 1px;
		border-style: solid;
		border-color: #ebedf2;
	}

	&.bx-style-2 {
		&.center {
			[class*="icon-bx-"] {
				position: absolute;
				top: 0;
				#{$dz-pos-left}: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}

			.icon-bx-xl {
				margin-#{$dz-pos-left}: -75px;
			}

			.icon-bx-lg {
				margin-#{$dz-pos-left}: -60px;
			}

			.icon-bx-md {
				margin-#{$dz-pos-left}: -50px;
			}

			.icon-bx-sm {
				margin-#{$dz-pos-left}: -40px;
			}

			.icon-bx-xs {
				margin-#{$dz-pos-left}: -20px;
			}
		}

		&.left {
			[class*="icon-bx-"] {
				position: absolute;
				top: auto;
				#{$dz-pos-left}: 0;
				-webkit-transform: translateX($dz-tx);
				-ms-transform: translateX($dz-tx);
				transform: translateX($dz-tx);
			}
		}

		&.right {
			[class*="icon-bx-"] {
				position: absolute;
				top: auto;
				#{$dz-pos-right}: 0;
				-webkit-transform: translateX(50%);
				-ms-transform: translateX(50%);
				transform: translateX(50%);
			}
		}
	}

}

.icon-content {
	overflow: hidden;
}

// ICON BOX CENTER ALIGH 
[class*="icon-bx-"][class*="bg-"] {

	a,
	span {
		color: $white;
	}
}

[class*="icon-bx-"].bg-white a {
	color: inherit;
}

[class*="icon-bx-"][class*="border-"] {
	display: table;
	line-height: normal;
	margin-#{$dz-pos-left}: auto;
	margin-#{$dz-pos-right}: auto;
}

[class*="icon-bx-"][class*="border-"] .icon-cell {
	display: table-cell;
	vertical-align: middle;
}

/// MEDIA WITH CONTENT BOX CSS
.dz-box,
.dz-info,
.dz-title,
.dz-title-inner {
	position: relative;
}

.dz-title-inner {
	display: inline-block;
}

.dz-box[class*="border-"],
.dz-info[class*="border-"] {
	border-color: #eee;
}

// BEFORE & AFTER FOR LINE CSS
.left-border,
.right-border {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 5px;
		width: 1px;
		height: 90%;
		background: #CCC;
	}
}

.right-border:before {
	#{$dz-pos-right}: 0;
}

// FOR IMAGES
.dz-media,
.dz-post-media {
	position: relative;
	overflow: hidden;

	img {
		max-width: 100%;
		height: auto;
		width: 100%;
	}
}

.icon-bx-wraper {

	.icon-bx {
		position: relative;
		@include transitionMedium;
	}

	// Style 1
	&.style-1 {
		display: flex;
		gap: 15px;
		text-align: left;

		.icon-bx {
			width: 60px;
			min-width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			color: var(--bs-primary);
			font-size: 24px;
			justify-content: center;
			background-color: var(--bs-light);
			border-radius: 50%;

			i {
				display: flex;
			}

			&[class*="bg-"] {
				color: #fff;
			}
		}

		p {
			font-size: 15px;
			font-weight: 300;
			color: var(--bs-body);
		}

		.dz-title {
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 5px;
		}

		.bg-primary &,
		.bg-dark &,
		.bg-secondary & {
			.icon-bx {
				background-color: rgba(255, 255, 255, 0.1);
				color: #fff;
			}

			.dz-title {
				color: #fff;
			}

			a,
			p {
				color: #fff;
				opacity: 0.7;
			}
		}

		&:hover {
			.icon-bx {
				color: #fff;
				background-color: var(--bs-primary);

				i {
					animation: shake 1s;
				}
			}

			.bg-primary &,
			.bg-dark &,
			.bg-secondary & {
				.icon-bx {
					color: #fff;
					background-color: var(--bs-primary);
				}
			}
		}

		@include respond('tab-port') {
			.dz-title {
				font-size: 16px;
			}

			.icon-bx {
				width: 50px;
				min-width: 50px;
				height: 50px;
				font-size: 18px;
			}
		}
	}

	// Style 2
	&.style-2 {
		display: flex;
		gap: 15px;
		align-items: center;

		.icon-bx {
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			color: var(--bs-primary);
			font-size: 24px;
			justify-content: center;
			background-color: rgba(var(--bs-light-rgb), 0.5);
			border-radius: 50%;

			i {
				display: flex;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				border-radius: 50%;
				background-color: var(--bs-primary);
				z-index: 0;
				transform: scale(0);
				@include transitionMedium;
			}

			&::before {
				opacity: 0.1;
			}

			&::after {
				opacity: 0.05;
			}
		}

		p {
			font-size: 15px;
			font-weight: 300;
		}

		.dz-title {
			font-size: 20px;
			font-weight: 500;
		}

		.icon-content {
			&>* {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.active,
		&:hover {
			.icon-bx {
				color: #fff;
				background-color: var(--bs-primary);

				&::before {
					transform: scale(1.3);
				}

				&::after {
					transform: scale(1.6);
				}
			}
		}
	}

	// Style 3
	&.style-3 {
		border-radius: 25px;
		padding: 30px;
		z-index: 1;
		filter: drop-shadow(0 20px 50px rgba(var(--bs-secondary-rgb), 0.02));
		height: 100%;
		display: flex;
		flex-direction: column;

		.icon-bx {
			width: 60px;
			height: 60px;
			display: block;
			margin-bottom: 30px;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		.icon-bg {
			position: absolute;
			right: 5px;
			top: 5px;
			width: 140px;
			opacity: 0.025;

			svg {
				width: 100%;
				@include transitionMedium;

				path {
					@include transitionMedium;
				}
			}
		}

		.icon-cell {
			@include transitionMedium;
		}

		p {
			font-size: 15px;
			font-weight: 300;
			@include transitionMedium;
		}

		.dz-title {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 12px;
			@include transitionMedium;
		}

		.icon-bx-head {
			margin-bottom: auto;
		}

		.icon-bx-footer {
			position: relative;
			padding-top: 20px;
			margin-top: 20px;
			margin-right: 50px;
			@include transitionMedium;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-image: linear-gradient(to right, rgba(var(--bs-body-color-rgb), 0.3) 50%, rgba(255, 255, 255, 0) 0%);
				@include transitionMedium;
				background-size: 10px 1px;
				background-repeat: repeat-x;
			}
		}

		.text-badge {
			font-size: 14px;
			color: var(--bs-secondary);
			display: flex;
			align-items: center;
			gap: 8px;
			line-height: 1.2;
			@include transitionMedium;

			i {
				font-size: 10px;
				@include transitionMedium;
			}
		}

		&:after {
			content: "";
			background: #fff;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			// -webkit-mask-image: url(/images/bg02.svg);
			-webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1000' height='900' viewBox='0 0 1000 900' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M1000 0H0V900H903V791H1000V0Z' fill='white'/><path fill-rule='evenodd' clip-rule='evenodd' d='M1000 586C1000 572.193 988.807 561 975 561H715C701.193 561 690 572.193 690 586V875C690 888.807 701.193 900 715 900H915C928.807 900 940 888.807 940 875V865C940 851.193 951.193 840 965 840H975C988.807 840 1000 828.807 1000 815V586Z' fill='white'/></svg>");
			mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1000' height='900' viewBox='0 0 1000 900' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M1000 0H0V900H903V791H1000V0Z' fill='white'/><path fill-rule='evenodd' clip-rule='evenodd' d='M1000 586C1000 572.193 988.807 561 975 561H715C701.193 561 690 572.193 690 586V875C690 888.807 701.193 900 715 900H915C928.807 900 940 888.807 940 875V865C940 851.193 951.193 840 965 840H975C988.807 840 1000 828.807 1000 815V586Z' fill='white'/></svg>");
			mask-position: right bottom;
			border-radius: 25px 25px 0 25px;
			@include transitionMedium;
		}

		.btn-square {
			box-shadow: 0 20px 50px rgba(var(--bs-secondary-rgb), 0.1);
			position: absolute;
			right: -80px;
			bottom: -30px;
			font-size: 20px;

			i {
				@include transitionMedium;
			}
		}

		&.active,
		&:focus-within &:hover {
			&:after {
				background: var(--bs-primary);
			}

			.icon-cell {
				--bs-primary: #fff;
			}

			.icon-bg {
				opacity: 0.08;

				svg path {
					fill: #fff;
				}
			}

			.text-badge {
				color: #fff;

				i {
					color: var(--bs-secondary) !important;
				}
			}

			p {
				color: #fff;
				opacity: 0.7;
			}

			.dz-title {
				color: #fff;
			}

			.icon-bx-footer::before {
				background-image: linear-gradient(to right, rgba(var(--bs-white-rgb), 0.5) 50%, rgba(255, 255, 255, 0) 0%);
			}

			.btn-square {
				i {
					-webkit-animation: toTopRight 0.8s forwards;
					-moz-animation: toTopRight 0.8s forwards;
					animation: toTopRight 0.8s forwards;
				}
			}
		}
	}

	// Style 4
	&.style-4 {
		border-radius: 20px;
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(30px);

		.icon-bx {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
		}

		.dz-title {
			font-size: 18px;
		}

		p {
			font-size: 15px;
			font-weight: 200;
		}

		&.text-white {
			p {
				opacity: 0.7;
			}

			.dz-title {
				color: #fff;
			}
		}

		&.text-center {
			.icon-bx {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	// Style 5
	&.style-5 {
		display: flex;
		align-items: center;
		gap: 14px;

		.dz-title {
			font-size: 13px;
			font-weight: 500;
			margin-bottom: 0px;
			margin-bottom: 0px;
		}

		p {
			color: var(--bs-secondary);
			font-weight: 600;
			font-size: 16px;
		}

		.icon-bx {
			height: 45px;
			width: 45px;
			min-width: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// Style 6
	&.style-6 {
		border-radius: 20px;
		padding: 30px 120px 25px 30px;
		z-index: 1;
		filter: drop-shadow(0 10px 30px rgba(var(--bs-primary-rgb), 0.1));
		min-height: 200px;
		height: 100%;

		* {
			@include transitionMedium;
		}

		&::before {
			font-size: 80px;
			line-height: 1.2;
			font-weight: 600;
			color: var(--bs-secondary);
			opacity: 0.1;
			position: absolute;
			right: 25px;
			top: 20px;
			z-index: 2;
			@include transitionMedium;
		}

		&:after {
			content: "";
			background: #fff;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			mask-image: url(../../assets/images/bg01.svg);
			mask-position: right bottom;
			border-radius: 20px 20px 0 20px;
			@include transitionMedium;
		}

		.icon-bx {
			width: 90px;
			height: 90px;
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			border-radius: 20px;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				font-size: 60px;
				color: var(--bs-primary);
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}

		p {
			font-size: 16px;
		}

		.dz-title {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 20px;
			position: relative;
			padding-bottom: 20px;

			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background: linear-gradient(to right, var(--bs-secondary) 0, rgba(0, 0, 0, 0) 100%);
				position: absolute;
				opacity: 0.3;
				left: 0;
				bottom: 0;
				@include transitionMedium;
			}
		}

		.icon-content {
			position: relative;
			z-index: 1;
		}

		.bg {
			mask-image: url(../images/bg01.svg);
			-webkit-mask-image: url(../images/bg01.svg);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			mask-position: right bottom;
			z-index: 0;
			border-radius: 20px;
			opacity: 0;
			background: var(--bs-secondary);
			background-blend-mode: color-burn;
			background-position: center;
			background-size: cover;
		}

		@include respond('laptop') {
			&::before {
				font-size: 65px;
			}
		}

		@include respond('tab-port') {
			padding: 25px 105px 20px 25px;

			.dz-title {
				font-size: 18px;
				margin-bottom: 12px;
				padding-bottom: 12px;
			}

			p {
				font-size: 14px;
			}

			&::before {
				font-size: 50px;
			}
		}

		&.active,
		&:hover {
			&:after {
				background: var(--bs-secondary);
			}

			&::before {
				color: #fff;
			}

			.bg {
				opacity: 1;
			}

			.dz-title:after {
				background: linear-gradient(to right, #fff 0, rgba(0, 0, 0, 0) 100%);
			}

			.dz-title,
			p,
			a {
				color: #fff;
			}

			.icon-bx {
				background: var(--bs-secondary);

				i {
					color: #fff;
				}
			}
		}
	}

	// Style 7
	&.style-7 {
		border-radius: 10px;
		z-index: 1;
		filter: drop-shadow(0 10px 30px rgba(var(--bs-primary-rgb), 0.1));
		min-height: 200px;
		height: 100%;
		display: flex;
		flex-direction: column;

		* {
			@include transitionMedium;
		}

		&:after {
			content: "";
			background: #fff;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			mask-image: url(../../assets/images/bg03.svg);
			mask-position: top right;
			border-radius: 15px 0 15px 15px;
			@include transitionMedium;
		}

		.icon-bx {
			width: 70px;
			height: 70px;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 10px;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				font-size: 38px;
				color: var(--bs-primary);
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}

		p {
			font-size: 15px;
		}

		.dz-title {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 25px;
			position: relative;
			padding-bottom: 25px;
			margin-right: 55px;

			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background: linear-gradient(to right, var(--bs-secondary) 0, rgba(0, 0, 0, 0) 100%);
				position: absolute;
				opacity: 0.3;
				left: 0;
				bottom: 0;
				@include transitionMedium;
			}
		}

		.icon-content {
			position: relative;
			z-index: 1;
			padding: 30px;
		}

		.bg {
			mask-image: url(../images/bg03.svg);
			-webkit-mask-image: url(../images/bg03.svg);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			mask-position: top right;
			z-index: 0;
			border-radius: 15px;
			background-size: cover;
			background-position: center;
			opacity: 0;
			background-blend-mode: color-burn;
			background: var(--bs-secondary);
		}

		.dz-media {
			height: 210px;
			margin-top: auto;

			img {
				height: 100%;
				object-fit: cover;
				@include transitionMedium;
			}
		}

		.icon-footer {
			padding: 15px 30px;
			text-align: center;
			position: relative;
			z-index: 1;
		}

		@include respond('tab-port') {
			.dz-title {
				font-size: 18px;
			}

			p {
				font-size: 14px;
			}
		}

		@include respond('phone') {
			.icon-content {
				padding: 25px;
			}
		}

		&.active,
		&:hover {
			&:after {
				background: var(--bs-secondary);
			}

			.bg {
				opacity: 1;
			}

			.dz-title:after {
				background: linear-gradient(to right, #fff 0, rgba(0, 0, 0, 0) 100%);
			}

			.dz-title,
			p,
			a {
				color: #fff;
			}

			.icon-bx {
				background: var(--bs-primary);

				i {
					color: #fff;
				}

				svg {
					--bs-primary: #fff;
				}
			}

			.dz-media img {
				transform: scale(1.15);
			}
		}
	}

	// Style 8
	&.style-8 {
		background-color: var(--bs-light);
		padding: 20px 25px;
		border-radius: var(--radius-md);
		display: flex;
		align-items: center;
		gap: 15px;
		height: 100%;
		min-height: 120px;

		.icon-bx {
			width: 60px;
			height: 60px;
			min-width: 60px;
			background-color: #fff;
			font-size: 24px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--bs-primary);
		}

		.icon-content {
			.dz-title {
				font-size: 18px;
				color: var(--bs-secondary);
				margin-bottom: 5px;
			}

			p {
				font-size: 15px;
			}
		}

		&.active,
		&:hover {
			.icon-bx {
				background-color: var(--bs-primary);
				color: #fff;
			}
		}
	}

	// Style 9
	&.style-9 {
		padding: 20px 25px;
		background-color: #fff;
		border-radius: var(--radius-md);
		display: flex;
		align-items: center;
		gap: 25px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
		@include transitionFast;

		.icon-bx {
			width: 70px;
			min-width: 70px;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 65px;
		}

		.dz-title {
			font-size: 20px;
			margin-bottom: 5px;
		}

		&.active,
		&:hover {
			transform: translateY(-5px);
		}

		@include respond('tab-land') {
			gap: 20px;

			p {
				font-size: 14px;
			}

			.dz-title {
				font-size: 18px;
			}

			.icon-bx {
				width: 60px;
				min-width: 60px;
				height: 60px;
				font-size: 50px;
			}
		}

		@include respond('phone') {
			margin-left: 0;
			margin-right: 0;
		}
	}

	// Style 10
	&.style-10 {
		background-color: rgba(var(--bs-primary-rgb), 0.05);
		border-radius: var(--radius-md);
		padding: 0 25px 25px;
		position: relative;
		margin-top: 40px;
		height: calc(100% - 40px);
		@include transitionFast;

		&:after {
			content: "";
			width: 5px;
			height: calc(100% - 50px);
			position: absolute;
			background-color: var(--bs-primary);
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 10px 0 0 10px;
			opacity: 0.3;
			@include transitionFast;
		}

		.icon-bx {
			height: 80px;
			width: 80px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 32px;
			color: #fff;
			transform: translateY(-40px);
			margin-bottom: -20px;
			@include transitionFast;
		}

		&:hover,
		&.active {
			&:after {
				opacity: 1;
			}

			.icon-bx {
				background-color: var(--bs-primary) !important;
			}
		}
	}
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}